<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            These articles are the property of <a href="https://www.goodnewsnetwork.org/category/news/inspiring/">Good
                News Network</a>
            <a class="white-text text lighten-4 right" href="/articles:id">Article JSON</a>
        </div>
    </div>
</footer>