<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrapin' the Buzz</title>
    <link rel="stylesheet" href="/public/css/style.css" type='text/css'>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/js/app.js"></script>
</head>

<body>

    {{> nav/navbar}}
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</body>

</html>