<div>

    <div class="row">
        <div class="col s3"></div>
        <a class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left">add_circle</i>Get
            the
            latest feed</a>
    </div>


    <div class="row">
        <div class="col s2"></div>
        <div class="col s8 left-align">
            {{#each article}}
            <div class="card-panel">
                <h4>{{this.title}}</h4>
                <a href="/readArticle/{{this._id}}" class="waves-effect waves-light btn" id="btnSignUp">Read Article</a>
            </div>
            {{/each}}
        </div>
    </div>